body{
    background-color: black;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.html5-icon{
    font-size: 35px;
    color: gold;
    padding: 5px 5px;
}

.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons-text{
    display: flex;
    align-items: center;
    gap: 12px;
}
.user-name{
    display: flex;
    flex-direction: column;
}
.menu-icon{
    font-size:35px;
    display: flex;
    padding: 5px 5px;
}
.my-instagram-post{
    background-color: white;
    width: 450px;
    height: 550px;
    justify-content: center;
}

.post-image{
    display: flex;
    object-fit: contain;
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.principals-icons{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
}
.right-icon{
    font-size: 25px;
    display: flex;
    gap: 10px;
}
.left-icon{
    font-size: 25px;
    display: flex;
    gap: 10px;
}